
<div class="slider" (click)="toggleNavigation()" [@menuWidthTrigger]="expanded"><md-icon>list</md-icon></div>
<div class="notification-panel" [@panelWidthTrigger]="expanded" >

    <header (click)="toggleNavigation()">
        <span class="online-status-icon" [@onlineStatus]="onlineStatus">
            <span *ngIf="onlineStatus == 'online'"><md-icon>lightbulb_outline</md-icon></span>
            <span *ngIf="onlineStatus == 'offline'"><md-icon>block</md-icon></span>
        </span>
        <span class="badge" *ngIf="count != 0">{{count}}</span>
        <div class="online-status"  *ngIf="expanded == 'expanded'">{{statusMessages[onlineStatus]}}</div>
        <!--Indicator for connection is alive or suspended-->
    </header>

    <div class="notifications">
        <!--Notifications container-->
        <notification *ngFor="let n of notifications"
                      [notif] = n
                      [expanded] = expanded>
        </notification>
    </div>
</div>
