.form{
    width:1170px;
    margin: 0 auto;
    padding: 5px;
}

.points li{
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 720px) {
    body {
       width: 100%;
    }
    button, input[type='text']{
        width:87%;
    }
    .notification-panel{
        min-height: 100%;
        height:auto;
    }
    .form{
        width:87%;
        margin-left: 0; 
    }
}