<div class="notif"  [@notifStatus] = "notif.status" highlight>
    <span class="notif-icon" >
        <md-icon *ngIf="notif.status == 'pending'" aria-label="Pending">assignment_late</md-icon>
        <md-icon *ngIf="notif.status == 'failed'" aria-label="Failed ">error</md-icon>
        <md-icon *ngIf="notif.status == 'finished'" aria-label="Completed ">check</md-icon>
    </span>
    <span class="notif-details" [@notifWidthTrigger] = "expanded">        
        {{notif.message}} <span class="small-font">{{notif.finishTime}}</span>
    </span>

</div>