.notif{
    position: relative;
    padding: 4px;
    border-bottom: 1px solid lightgrey;
}

.notif-icon{
    width: 20%;
}

.notif-details{
    width: 80%;
    padding: 3px;
    font-family: Raleway;
}

